// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #eaeaea !important;
}

// HEADER
.header__logo {
   th {
      padding-top: 12px !important;
      // padding-bottom: 12px !important;
      padding-right: 16px !important;
      padding-left: 16px !important;
   }
   img {
      height: 30px;
   }
   @media only screen and (max-width: 596px) {
      img {
         height: 30px !important;
         width: inherit !important;
      }
   }
}
.header__bannerImg {
   img {
      height: 150px !important;
   }
}


// SECTION-1
.section-1 {
   .yourName {
      margin-bottom: 10px;
   }
   th {
      padding-left: 20px !important;
   }
   p {
      margin-bottom: 22px;
      span {
         font-weight: 600;
      }
   }
   ul {
      padding-left: 20px;
      td {
         color: #e44232;
      }
      li {
         margin-bottom: 13px;
      }
   }

   .learnMoreLink {
      img {
         display: inline-block;
         vertical-align: middle;
         width: 14px;
         padding-bottom: 3px;
         padding-right: 7px;
      }
   }
}
