<container>
   <row class="footer">
      <columns>

         <!-- social media -->
         <spacer size="20"></spacer>
         <row class="socialMedia">
            <columns>
               <center>
                  <a href="https://twitter.com/todoist">
                     <img src="https://i.imgur.com/V9lApv3.png" alt="">
                  </a>
                  <a href="https://www.facebook.com/Todoist/" class="facebook">
                     <img src="https://i.imgur.com/Ofqi8Zn.png" alt="">
                  </a>
                  <a href="https://www.youtube.com/channel/UCQ_61yRKscCnkIJBPoR15EA">
                     <img src="https://i.imgur.com/YU18CVh.png" alt="">
                  </a>
               </center>
            </columns>
         </row>

         <!-- links -->
         <row class="links">
            <columns>
               <p>
                  <a href="https://blog.doist.com/">Blog</a>
                  &nbsp;|&nbsp;
                  <a href="https://todoist.com/downloads">Download Apps</a>
                  &nbsp;|&nbsp;
                  <a href="https://get.todoist.help/hc">Help Center</a>
               </p>
            </columns>
         </row>

         <!-- Unsub-Copyright -->
         <row class="unsub-copyright">
            <columns>
               <p><a href="#">Unsubscribe from future emails</a></p>
               <p>Doist Inc. 2100 Geng Road, Suite 210 Palo Alto, CA94303 US</p>
            </columns>
         </row>

      </columns>
   </row>
</container>
