<container>
   <row class="footer">
      <columns>
         
         <!-- social media -->
         <row class="socialMedia">
            <columns>
               <center>
                  <a href="https://twitter.com/todoist">
                     <img src="{{root}}assets/img/images/socialmedia-1.png" alt="">
                  </a>
                  <a href="https://www.facebook.com/Todoist/">
                     <img src="{{root}}assets/img/images/socialmedia-2.png" alt="">
                  </a>
                  <a href="https://www.youtube.com/channel/UCQ_61yRKscCnkIJBPoR15EA">
                     <img src="{{root}}assets/img/images/socialmedia-3.png" alt="">
                  </a>
               </center>
            </columns>
         </row>

         <!-- links -->
         <row class="links">
            <columns>
               <p>
                  <a href="">Blog</a>
                  &nbsp;|&nbsp;
                  <a href="">Download Apps</a>
                  &nbsp;|&nbsp;
                  <a href="">Help Center</a>
               </p>
            </columns>
         </row>

         <!-- Unsub-Copyright -->
         <row class="unsub-copyright">
            <columns>
               <p><a href="">Unsubscribe from future emails</a></p>
               <p>Doist Inc. 2100 Geng Road, Suite 210 Palo Alto, CA94303 US</p>
            </columns>
         </row>

      </columns>
   </row>
</container>
